<div class='card my-1'>
  <div class='card-body'>
    <p class='font-weight-bold'>Add Comments</p>
    <%= form_with(model: [post, post.comments.build]) do |f| %>
      <div class='form-group'>
        <%= f.label 'Name' %>
        <%= f.text_field :name, class: 'form-control' %>
        <%= f.label 'New comment' %>
        <%= f.text_area :body, class: 'form-control' %>
        <%= f.file_field :image, direct_upload: true, class: 'form-control' %>
      </div>
      <%= f.submit 'Submit', class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
